<p-scrollPanel class="panel-left" [style]="{'height':'95vh'}">
    <div style="height:2px;">
        <p-progressBar *ngIf="is_loading>0" mode="indeterminate" [style]="{ height: '2px' }"></p-progressBar>
    </div>
    <div>
        <p-tabView>
            <p-tabPanel header="Upload via Optibus API">
                <div style="display: inline-block; vertical-align: bottom;">Link to the schedule<br>
                    <input type="text" pInputText [(ngModel)]="schedule_link" class="p-inputtext-sm" />
                </div>
                <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Client ID<br>
                    <p-password [(ngModel)]="client_id" [feedback]="false" class="p-inputtext-sm"></p-password>
                </div>
                <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Client Secret<br>
                    <p-password [(ngModel)]="client_secret" [feedback]="false" class="p-inputtext-sm"></p-password>
                </div>
                <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">
                    <p-button [disabled]="!schedule_link || !client_id || !client_secret" label="Get Schedule"
                        styleClass="p-button-rounded p-button-sm" (onClick)="getScheduleInit()"></p-button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Upload using JSON files">
                <div style="display:inline-block; width:45%; vertical-align: top;">
                    <p-fileUpload mode="basic" chooseLabel="Upload preferences" name="" accept=".json"
                        [style]="{'display':'inline-block'}" styleClass="p-button-rounded p-button-sm"
                        (onSelect)="readPreferencesJSON($event)"></p-fileUpload><br>
                </div>
                <div style="display:inline-block; width:45%; vertical-align: top;">
                    <p-fileUpload *ngIf="depot_stop_ids.length>0" mode="basic" chooseLabel="Upload a dataset" name=""
                        accept=".json" [style]="{'display':'inline-block'}" styleClass="p-button-rounded p-button-sm"
                        (onSelect)="readJSON($event)"></p-fileUpload>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div *ngIf="ready_state">
        <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Max distance<br>
            <p-inputNumber [(ngModel)]="max_distance" inputId="minmax" inputId="minmax" mode="decimal" suffix=" km"
                [min]="1" [max]="100" [style]="{width:'5vw'}" [inputStyle]="{'width':'100%'}" class="p-inputtext-sm">
            </p-inputNumber>
        </div>
        <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Default speed<br>
            <p-inputNumber [(ngModel)]="default_speed" inputId="minmax" inputId="minmax" mode="decimal" suffix=" kmph"
                [min]="10" [max]="100" [style]="{width:'5vw'}" [inputStyle]="{'width':'100%'}" class="p-inputtext-sm">
            </p-inputNumber>
        </div>
        <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Max speed<br>
            <p-inputNumber [(ngModel)]="max_speed" inputId="minmax" inputId="minmax" mode="decimal" suffix=" kmph"
                [min]="10" [max]="100" [style]="{width:'5vw'}" [inputStyle]="{'width':'100%'}" class="p-inputtext-sm">
            </p-inputNumber>
        </div>
        <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;">Closest pulls<br>
            <p-inputNumber [(ngModel)]="pull_closest_count" inputId="minmax" inputId="minmax" mode="decimal"
                [min]="1" [max]="100" [style]="{width:'5vw'}" [inputStyle]="{'width':'100%'}"
                class="p-inputtext-sm">
            </p-inputNumber>
        </div>
        <div style="display: inline-block; vertical-align: middle; margin-left: 1vw;">Include deadheads<br>
            <p-toggleButton [(ngModel)]="include_deadheads" onLabel="Yes" offLabel="No"
                styleClass="p-button-rounded p-button-sm"></p-toggleButton>
            <!--                <p-checkbox label="Include deadheads" [(ngModel)]="include_deadheads" [binary]="true"
                    inputId="binary"></p-checkbox>
            <p-button label="Find all" icon="pi pi-bolt" styleClass="p-button-rounded p-button-success" (onClick)="runForAll()"></p-button>-->
        </div>
        <div style="display: inline-block; vertical-align: bottom; margin-left: 1vw;"><br>
            <p-button [label]="'Find all ('+desired_routes.length+')'" icon="pi pi-bolt" styleClass="p-button-rounded p-button-success p-button-sm"
                (onClick)="findWays()"></p-button>
        </div>
        <div style="height:2px; margin-top:1vh">
            <p-progressBar [value]="100*calc_done/total_to_calc" [showValue]="false"
                [style]="{ height: '2px' }"></p-progressBar>
        </div>
        <p-table *ngIf="terminal_stops.length>0" [value]="desired_routes" [scrollable]="true" scrollHeight="50vh">
            <ng-template pTemplate="header">
                <tr>
                    <!--<th></th>-->
                    <th>Start Stop</th>
                    <th>End Stop</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <!--<th>On map</th>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-desired_route>
                <tr
                    *ngIf="desired_route.distance <= max_distance && (desired_route.is_deadhead === false || (desired_route.is_deadhead && include_deadheads)) && (desired_route.is_deadhead === true || (desired_route.pull_closest_index <= pull_closest_count))">
                    <!--<td>
                        <p-button *ngIf="desired_route" icon="pi pi-info"
                            styleClass="p-button-rounded p-button-outlined"
                            (onClick)="toggleAerialOnMap(desired_route)"></p-button>
                    </td>-->
                    <td>({{ desired_route.start_stop.id }}) {{desired_route.start_stop.name }}</td>
                    <td>({{ desired_route.end_stop.id }}) {{desired_route.end_stop.name }}</td>
                    <td>{{ desired_route.distance }}</td>
                    <td>{{ desired_route.time }}</td>
                    <!--<td>
                        <p-button *ngIf="desired_route.nodes && desired_route.nodes.length>0"
                            [icon]="(desired_route.on_map === undefined)?'pi pi-eye':'pi pi-eye-slash'"
                            styleClass="p-button-rounded p-button-outlined"
                            (onClick)="toggleRouteOnMap(desired_route)"></p-button>
                    </td>-->
                </tr>
            </ng-template>
        </p-table>
        <!--<p-toggleButton [disabled]="true" *ngIf="calc_done>total_to_calc" [(ngModel)]="graph_shown"
            onLabel="Hide graph nodes" offLabel="Show graph nodes" (click)="toggleGraphNodes()"></p-toggleButton>-->
        <p-toggleButton [(ngModel)]="all_on_map" styleClass="p-button-rounded p-button-info" [onLabel]="'Hide all shapes'"
            offLabel="Show all shapes" (click)="toggleAllRouteOnMap()"></p-toggleButton>
        <p-button [disabled]="is_loading>0" styleClass="p-button-rounded p-button-success" label="Get catalogue"
            icon="pi pi-download" (onClick)="produceXLSX()"></p-button>
    </div>

</p-scrollPanel>
<div class="map map_div" id="map"></div>